.color {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}

#paleteFirst {
    background-color: black;
}

#paleteSecond {
    background-color: blue;
}

#paleteThird {
    background-color: purple;
}

#paleteFourth {
    background-color: pink;
}


.pixel {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}
