.color {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    display: inline-block;
}

#black {
    background-color: black;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}


.pixel {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}